*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #121f39;
  padding: 24px;

  h1,
  h3 {
    color: #5ae358;
    /* background: #2563eb;
    background: #9333ea; */
  }
}

.page {
  display: none;

  .grid-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 120px 120px;
    gap: 12px;

    .item {
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-weight: 700;

      &.item--big {
        /* chiếm 2 cột, từ line 1 đến line 3 */
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &.item--big-shorthand {
        /* tương tự nhưng viết gọn hơn */
        grid-column: 1 / 3;
      }
    }
  }

  .grid-row {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 120px 120px 120px;
    gap: 12px;

    .item {
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-weight: 700;
      min-height: 120px;
    }

    .item--big {
      /* chiếm 2 hàng, từ line 1 đến line 3 */
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .item--big-shorthand {
      /* tương tự nhưng viết gọn hơn */
      grid-row: 1 / 3;
    }
  }

  .grid-span {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;

    .item {
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-weight: 700;
      min-height: 120px;
    }

    .item--big {
      /* chiếm 2 hàng và 2 cột (to gấp 4) */
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  .grid-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;

    .item {
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-weight: 700;
      min-height: 120px;
    }

    .item--big {
      /* chiếm 2 hàng từ line 1 đến 3 và 2 cột cũng từ line 1 đến 3*/
      /* grid-area: row-start / column-start / row-end / column-end; */
      grid-area: 1 / 1 / 3 / 3;
    }
  }
}

.ex1-page {
  max-width: 100%;
  margin: 0 auto;

  .site-header {
    text-align: center;
    margin-bottom: 16px;

    h1 {
      margin: 0;
    }
  }

  .layout {
    display: grid;
    /* grid-template-columns: 30% repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */

    /* 3 cột ở hàng 2 */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px 220px;
    gap: 12px;

    > * {
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .header {
      background: #0ea5e9;
      /* grid-column: span 3; */
      /* chiếm toàn bộ 3 cột: từ line 1 -> line 4 */
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    .sidebar {
      background: #2563eb;
    }

    .main {
      background: #9333ea;
    }

    .extra {
      background: #16a34a;
    }
  }
}

.ex2-page {
  max-width: 100%;
  margin: 0 auto;

  .site-header {
    text-align: center;
    margin-bottom: 16px;

    h1 {
      margin: 0;
    }
  }

  .layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 120px);
    gap: 12px;

    .cell {
      color: #ffffff;
      background: #0993e4;
      border: 1px solid #334155;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 800;
      font-size: 2rem;

      &.cell--tall {
        /* Item 1 chiếm 2 hàng */
        grid-row: span 2;
        background: #2563eb;
      }

      /* Item 5 chiếm 2 cột */
      &.cell--wide {
        grid-column: span 2;
        background: #9333ea;
      }
    }
  }
}

.ex3-page {
  max-width: 100%;
  margin: 0 auto;

  .site-header {
    text-align: center;
    margin-bottom: 16px;

    h1 {
      margin: 0;
    }
  }

  .layout {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 120px);

    > * {
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;
      letter-spacing: 0.5px;
    }

    .feature {
      background: #0ea5e9;
      grid-area: 1 / 1 / 3 / 3;
    }

    .sub1 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      background: #22c55e;
    }

    .sub2 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background: #138f41;
    }

    .box {
      &.box--1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background: #2563eb;
      }

      &.box--2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background: #9333ea;
      }

      &.box--3 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        background: #f59e0b;
      }
    }
  }
}

.ex4-page {
  max-width: 100%;
  margin: 0 auto;

  .site-header {
    text-align: center;
    margin-bottom: 16px;

    h1 {
      margin: 0;
    }
  }

  .layout {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);

    > * {
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;
      letter-spacing: 0.5px;
    }

    .header {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      background: #0ea5e9;
    }

    .aside {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
      background: #2563eb;
    }

    .article {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
      background: #9333ea;
    }

    .footer {
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      background: #16a34a;
    }

    @media (width < 900px) {
      .aside {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
      }

      .article {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
      }
    }
  }
}
