*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #121f39;
  padding: 24px;

  h1,
  h3 {
    color: #5ae358;
    /* background: #2563eb;
    background: #9333ea; */
  }
}

.page {
  display: grid;
  gap: 12px;
  display: none;

  .layout {
    border: 2px solid rgb(133, 217, 69);
    padding: 8px;
    min-height: 252px;

    display: grid;
    gap: 12px;
    /* explicit khai báo trước số cột / hàng */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .card {
      background: #2563eb;
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;

      &.big {
        grid-column: span 2;
      }
    }

    &.implicit-rows {
      /* các hàng auto sinh ra sẽ cao 120px */
      grid-auto-rows: 120px;
      grid-auto-flow: row; /* default */

      &.dense {
        grid-auto-flow: row dense;
      }
    }

    &.implicit-columns {
      /* các cột auto sinh ra sẽ cao 120px */
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }
}

.ex1-page {
  display: grid;
  gap: 12px;

  .layout {
    border: 2px solid rgb(133, 217, 69);
    padding: 8px;
    min-height: 252px;

    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 120px;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .card {
      background: #2563eb;
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;

      &.big {
        grid-column: span 2;
      }
    }
  }
}

.ex2-page {
  display: grid;
  gap: 12px;

  .layout {
    border: 2px solid rgb(133, 217, 69);
    padding: 8px;
    min-height: 252px;

    display: grid;
    gap: 12px;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 120px;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .card {
      background: #2563eb;
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;

      &.big {
        grid-column: span 2;
      }
    }
  }
}

.ex3-page {
  display: grid;
  gap: 12px;

  .layout {
    border: 2px solid rgb(133, 217, 69);
    padding: 8px;
    min-height: 252px;

    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 120px;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .card {
      background: #2563eb;
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;

      &.big {
        grid-column: span 2;
      }
    }

    &.dense {
      grid-auto-flow: row dense;
    }
  }
}

.ex4-page {
  display: grid;
  gap: 12px;

  .layout {
    border: 2px solid rgb(133, 217, 69);
    padding: 8px;
    min-height: 252px;

    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .card {
      background: #2563eb;
      color: white;
      border-radius: 12px;
      display: grid;
      place-items: center;
      font-weight: 900;

      &.big {
        grid-row: span 2;
      }
    }
  }
}
