*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #121f39;
  padding: 24px;

  h1,
  h3 {
    color: #5ae358;
    /* background: #2563eb;
    background: #9333ea; */
  }
}

.page {
  .layout {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 120px;
    gap: 12px;

    justify-items: center; /* ngang */
    align-items: center; /* dọc */

    /* shrot-hand */
    place-items: center;

    border: 2px solid rgb(133, 217, 69);
    min-height: 252px;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .item {
      width: 60px;
      height: 60px;
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-size: 0.5rem;
    }

    &.layout--content {
      justify-content: end; /* ngang */
      align-content: end; /* dọc */

      /* shrot-hand */
      place-content: end;
    }
  }
}

.ex1-page {
  .layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px;
    gap: 12px;

    border: 2px solid rgb(133, 217, 69);
    min-height: 122px;

    justify-items: center;
    align-items: center;

    /* short-hand */
    place-items: center;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .item {
      width: 60px;
      height: 60px;
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-size: 0.5rem;
    }
  }
}

.ex2-page {
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 120px);
    gap: 12px;

    border: 2px solid rgb(133, 217, 69);
    min-height: 252px;

    place-items: center;

    justify-content: center;
    align-content: center;

    /* short-hand */
    place-content: center;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .item {
      width: 60px;
      height: 60px;
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-size: 0.5rem;
    }
  }
}

.ex3-page {
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 120px);
    gap: 12px;

    border: 2px solid rgb(133, 217, 69);
    min-height: 252px;

    > * {
      color: white;
      border-radius: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    .item {
      width: 60px;
      height: 60px;
      background: #2563eb;
      color: white;
      display: grid;
      place-items: center;
      border-radius: 10px;
      font-size: 0.5rem;
    }

    &.layout--items {
      place-items: center;
    }

    &.layout--content {
      place-content: center;
    }
  }
}

.ex4-page {
  .dash-header {
    height: 80px;
    border-radius: 14px;
    background: #111827;
    border: 1px solid #334155;
    padding: 0 16px;

    display: grid;
    grid-template-columns: 56px 1fr auto;
    gap: 12px;

    /* ✅ căn theo dọc giữa */
    align-items: center;

    /* ✅ ngang trái là mặc định (start) */
    justify-items: start;
  }

  .logo {
    width: 48px;
    height: 48px;
    border-radius: 14px;
    background: #2563eb;
    display: grid;
    place-items: center;
    font-weight: 900;
  }

  .brand__title {
    margin: 0;
    font-size: 1.1rem;
  }
  .brand__sub {
    margin: 2px 0 0;
    color: #94a3b8;
    font-size: 0.9rem;
  }

  .actions {
    display: grid; /* dùng grid cho cụm nút */
    grid-auto-flow: column; /* xếp ngang */
    gap: 10px;
    justify-items: end;
  }

  .btn {
    border: 1px solid #334155;
    background: #0f172a;
    color: #e5e7eb;
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 700;
  }
}
